<div class="container">
  <h2>My todos</h2>

  <!-- Todos input -->
  <form role="form" ng-submit="addTodo()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="todo" placeholder="What needs to be done?" class="form-control">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" aria-label="Add">
           <i class="fa fa-tasks fa-lg"></i>
         </button>

       </span>
     </div>
   </div>

   <!-- Todos list -->
   <div ui-sortable ng-model='todos'>
   <p class="input-group" ng-repeat="todo in todos" style="padding:5px 10px; cursor: move;">
    <input type="text" ng-model="todo" class="form-control">
        <span class="input-group-btn">
          <button type="button" class="btn btn-danger" aria-label="Remove" ng-click="removeTodo($index)">
           <i class="fa fa-close fa-lg"></i>
         </button>
  </p>
  </div>
</form>
</div>